<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.kartik.diabetesmonitoring"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk>
        android:minSdkVersion="19"
        android:targetSdkVersion="22"
    </uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".InsulinReadingsDetail"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsDashboardActivity"
            android:label="@string/title_activity_settings_dashboard"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kartik.diabetesmonitoring.MainActivity" />
        </activity>
        <activity
            android:name=".SetupMedicines"
            android:label="@string/title_activity_setup_medicines"
            android:parentActivityName=".SettingsDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kartik.diabetesmonitoring.SettingsDashboardActivity" />
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
